<h2>Post</h2>
<div class="post">
  <div class="post-title">
    <strong>Title:</strong>
    <%= @post.title %>
  </div>
  <div class="post-description">
    <strong>Description:</strong>
    <%= @post.description %>
  </div>
</div>
